# Logs
logs
*.log

# NOADS
output
input.csv
whitelist.csv
blocklist.txt
allowlist.txt
blocklist_*.txt
allowlist_*.txt

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.local

# Output of 'npm pack'
*.tgz
